.card {
  margin-top: 15px;
  width: 300px;
  height: 540px;
  .color-view {
    text-align: center;

  }
  .canvas {
    width: 100%;
    height: 40%;
  }
  .row{
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    .input-value-rgb {
      width: 50px;
    }
  }
}
