<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <span [style.color]="colorValue"
        [cpPosition]="'bottom'"
        [cpOutputFormat]="'rgba'"
        class="header-string"
        [cpAlphaChannel]=" 'disabled'"
        [cpPositionOffset]="'50%'"
        [cpPositionRelativeToArrow]="true"
        (colorPickerChange)="onChange($event)"
        [(colorPicker)]="colorValue">Change color!</span>
</div>

<div class="container">
  <div class="wrapper">
    <app-rgb [(colorValue)]="colorValue"
             [R]="R"
             [G]="G"
             [B]="B"
             (rgbChange)="changeRGB($event)"></app-rgb>
  </div>

  <div class="wrapper">
    <app-cmyk [(colorValue)]="colorValue"
              (rgbChange)="changeRGB($event)"
              [C]="C"
              [M]="M"
              [Y]="Y"
              [K]="K"
    ></app-cmyk>
  </div>

  <div class="wrapper">
    <app-hsv [(colorValue)]="colorValue"
             (rgbChange)="changeRGB($event)"
             [H]="H"
             [S]="S"
             [V]="V"></app-hsv>
  </div>

</div>

<router-outlet></router-outlet>
